input[name=searchBox]{
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    outline: none;
}
.container{
    padding: 30px;
    
}

header{
    text-align: center;
    margin:auto;
}

@media screen and (min-width:900px){
header{
    width: 40%;
}
}